#about{
    background: url(../img/notebook.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 80px 0;
    text-align: center;
}

.about-smth{
    font-size: 40px;
    margin: 15px 0;
}

.about-title{
    font-size: 60px;
    font-weight: bold;
    margin: 25px 0;
}

.about-main{
    font-size: 46px;
}