#contact{
    background: url('../img/contact.jpg') no-repeat;
    padding-bottom: 60px;
    background-size: cover;
}

.contact-title{
    font-size: 62px;
    font-weight: bold;
    margin: 35px 0;
    color: #3d3d3e;
}

.contact-c{
    font-size: 44px;
    font-weight: bold;
}

.contact-c i{
    margin-right: 5px;
    font-size: 32px;
}

.contact-or{
    color: #3d3d3e;
    font-size: 44px;
    margin: 35px 0;
    font-weight: bold;
}

.input-item input,
.input-item textarea{
    padding-bottom: 40px;
    width: 600px;
    padding-top: 5px;
    padding-left: 5px;
    font-family: inherit;
    font-size: 24px;
    margin-top: 20px;
    border: 1px solid #97989a;
}

.input-item textarea{
    resize: none;
}

.c-btn{
    padding: 10px 60px;
    color: #3d3d3e;
    display: inline-block;
    border: 1px solid #97989a;
    margin-top: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background: white;
}

.contact-container {
    width: 600px;
    margin: auto;
}

@media screen and (max-width: 768px){
    .contact-container{
        width: 100%;
    }

    .contact-title{
        font-size: 34px;
    }

    .contact-c{
        font-size: 20px;
    }

    .contact-or{
        font-size: 20px;
    }

    .input-item input, .input-item textarea{
        width: auto;
        padding-bottom: 20px;
    }

    .c-btn{
        margin-left: initial;
    }
}