header{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    color: white;
}

.header-name{
    font-size: 50px;
}

.header-desc{
    font-size: 60px;
}

@media screen and (max-width: 768px){
    .header-name{
        font-size: 30px;
    }

    .header-desc{
        font-size: 40px;
    }
}