nav{
    position: fixed;
    top: 0;
    color: white;
    font-size: 30px;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 999;
}

.logo{
    padding: 10px;
}

.logo img{
    height: 64px;
    width: 64px;
}

.nav-item{
    margin: 0 15px;
    padding: 15px 15px;
}

.nav-menu{
    margin-left: auto;
    margin-right: 50px;
}

.dark-navbar{
    background: black;
}

.tablet-nav{
    position: fixed;
    display: none;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 40px;
    z-index: 9999999999;
    transition-duration: 0.4s;
}

.dark-nav{
    color: black;
}

@media screen and (max-width: 768px) {
    nav{
        background: black;
        display: none;
        transition: all 0s ease;
        width: 50% !important;
        height: 100%;
    }

    .navigat{
        align-items: initial;
        flex-direction: column;
    }

    .nav-menu{
        flex-direction: column;
        margin-left: initial;
        margin-right: initial;
    }

    .nav-item{
        padding-left: 0;
    }

    .tablet-nav{
        display: block;
    }
}