nav{
    position: fixed;
    top: 0;
    color: white;
    font-size: 30px;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 999;
}

.logo{
    padding: 10px;
}

.logo img{
    height: 64px;
    width: 64px;
}

.nav-item{
    margin: 0 15px;
    padding: 15px 15px;
}

.nav-menu{
    margin-left: auto;
    margin-right: 50px;
}

.dark-navbar{
    background: black;
}