nav{
    position: fixed;
    top: 0;
    color: white;
    width: 100%;
    transition: all 0.8s ease;
}

.logo{
    font-family: 'Allura', cursive;
    font-size: 32px;
    padding: 25px;
    cursor: pointer;
}

.icon-24{
    font-size: 24px;
    color: #49BF73;
}

.nav-item{
    padding: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: all 0.4s ease;
}

.nav-scrolled{
    background: #222;
}

.nav-scrolled .logo{
    padding: 10px !important;
}

.nav-scrolled .nav-item{
    padding: 10px 25px !important;
}

/*
.nav-item:hover{
    color: #49BF73;
}
*/
