#skills{
    background: white;
    padding: 40px 0;
    color: #5a5a5a;
}

.skills-container{
    max-width: 1100px;
    margin: auto;
}

.skill-item{
    text-align: center;
    max-width: 250px;
    margin: 15px;
}

.skill-img img{
    width: 200px;
    height: 200px;
}

.skill-desc{
    font-size: 18px;
}

.skill-title{
    font-size: 24px;
    margin: 10px 0;
}

.skills-title{
    text-align: center;
    font-size: 32px;
    margin: 10px 0;
}