nav{
    margin-top: 160px !important;
    border-top: 1px solid #00888d;
    border-bottom: 1px solid #00888d;
}

.nav-items{
    width: 680px;
}

.nav-item a{
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    font-family: sfui-light;
}

.nav-item{
    padding: 15px 0;
}