body{
    margin: 40px;
    background: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 24px;
    -moz-user-select: none;
    user-select: none;
}

#container{
    margin: auto;
    max-width: 1366px;
    min-width: 1100px;
    display: flex;
    justify-content: space-between;
}

.block{
    width: 400px;
    height: 100%;
    border: 2px solid white;
    border-radius: 10px;

    /* Разные браузеры */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#upgrade,
#stat{
    overflow-y: scroll;
}

#upgrade::-webkit-scrollbar,
#stat::-webkit-scrollbar{
    width: 0;
}

#dialog{
    width: 700px;
    height: 400px;
    background: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#dialog_yes{
    background: green;
}

#dialog_no{
    background: red;
}

.dialog_button{
    width: 200px;
    padding: 15px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 1366px){
    .block{
        width: 340px;
    }
}