.stat_item{
    margin: 20px;
    text-align: center;
    font-size: 32px;
}

.fa-money{
    color: green;
}

.fa-optin-monster{
    color: yellow;
}

.fa-gavel{
    color: red;
}

.fa-forward{
    color: blue;
}

#trophy{
    width: 90%;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px 5%;
    cursor: pointer;
    display: none;
}

.fa-trophy{
    padding: 5px;
    color: yellow;
}