$mainFont: Roboto;

$colorPrimary: #293acc;
$colorSecondary: rgba(141,153,167,.25);
$colorBlack: #444444;
$colorWhite: #fafafa;
$colorRed: #f5325c;
$colorGreen: #29cc39;

$elementHeight: 44px;
$elementRadius: 4px;
$elementSidePadding: 16px;
$elementMargin: 16px;

$fs-big: 24px;
$fs-medium: 18px;
$fs-small: 15px;

$transition-timing: 0.3s;