.center-block{
    margin: auto;
}

body{
    background: white;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#facelet{
    background: #faf9f7;
}

.row{
    display: flex;
    flex-direction: row;
}

.side{
    width: 50%;
    padding-top: 68px;
    padding-bottom: 68px;
    overflow: hidden;
    position: relative;
    max-height: 750px;
}

.description{
    margin-left: 100px;
    max-width: 506px;
}

.description h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.text-space{
    margin-top: 25px;
}

.bold{
    font-weight: bold;
    font-size: 16px;
}

.text-regular{
    font-size: 16px;
}

.side img{
    max-height: 537px;
    height: auto;
    overflow: hidden;
    width: 1000px;
    object-fit: cover;
    object-position: 0 0;
}

.description span{
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 42px;
    letter-spacing: 2px;
}

.col-center{
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-arrows{
    margin-top: 30px;
    font-weight: bold;
    -moz-user-select: none;
    user-select: none;
}

.back{
    padding-right: 20px;
    cursor: pointer;
}

.next{
    cursor: pointer;
    padding-left: 20px;
}

.hide{
    display: none;
}

.next:hover,
.back:hover {
    opacity: 0.5;
}

.description a{
    color: black;
}

#product{
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#product img{
    height: 210px;
    background: #fbfaf8;
}

.product_img{
    width: 350px;
    height: 220px;
    background: #fbfaf8 ;
}

.product_item{
    margin: 0 30px;
    width: 370px;
}

.product_title{
    font-size: 20px;
    font-weight: bold;
}

.product_desc{
    font-size: 16px;
}

#product a{
    color: red;
    text-decoration: none;
}

#product a:hover{
    opacity: 0.6;
}

.product_main{
    font-size: 38px;
    text-align: center;
    margin: 40px 0;
}

.header-title{
    margin: 60px auto;
    font-size: 52px;
    text-align: center;
}

.product-body{
    background: #faf9f7;
}

.product-img{
    object-fit: contain !important;
}


@media screen and (max-width: 800px){
    .row{
        flex-direction: column;
    }

    .side{
        width: 100%;
    }

    body{
        text-align: center;
    }

    .description{
        padding: 0 15px;
        margin-left: 0;
    }

    .side img{
        max-width: 320px;
        max-height: 320px;
        min-width: 0;
    }

    .col-center{
        height: auto;
    }

    body .side:first-of-type{
        padding: 0;
    }

    #product{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 20px;
    }

    .product_img{
        width: 320px;
    }

    .product_item{
        margin: 0;
        margin-top: 20px;
        width: 320px;
    }

    .product_title{
        margin-top: 20px;
    }

    .description span{
        display: block;
        margin-top: 50px;
    }

    .header-title{
        font-size: 42px;
    }
}