.center-block{
    margin: auto;
}

body{
    background: white;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#facelet{
    background: #faf9f7;
}

.row{
    display: flex;
    flex-direction: row;
}

.side{
    width: 50%;
    padding-top: 68px;
    padding-bottom: 68px;
    overflow: hidden;
    position: relative;
    max-height: 750px;
}

.description{
    margin-left: 100px;
    max-width: 506px;
}

.description h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.text-space{
    margin-top: 25px;
}

.bold{
    font-weight: bold;
    font-size: 16px;
}

.text-regular{
    font-size: 16px;
}

.side img{
    max-height: 537px;
    height: auto;
    overflow: hidden;
    width: 1000px;
    object-fit: cover;
    object-position: 0 0;
}

.description span{
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 42px;
    letter-spacing: 2px;
}

.col-center{
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-arrows{
    margin-top: 30px;
    font-weight: bold;
    -moz-user-select: none;
    user-select: none;
}

.back{
    padding-right: 20px;
    cursor: pointer;
}

.next{
    cursor: pointer;
    padding-left: 20px;
}

.hide{
    display: none;
}

.next:hover,
.back:hover {
    opacity: 0.5;
}

.description a{
    color: black;
}

#product{
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#product img{
    height: 210px;
    background: #fbfaf8;
}

.product_img{
    width: 350px;
    height: 220px;
    background: #fbfaf8 ;
}

.product_item{
    margin: 0 30px;
    width: 370px;
}

.product_title{
    font-size: 20px;
    font-weight: bold;
}

.product_desc{
    font-size: 16px;
}

#product a{
    color: red;
    text-decoration: none;
}

#product a:hover{
    opacity: 0.6;
}

.product_main{
    font-size: 38px;
    text-align: center;
    margin: 40px 0;
}

.header-title{
    margin: 60px auto;
    font-size: 52px;
    text-align: center;
}

.product-body{
    background: #faf9f7;
}

.product-img{
    object-fit: contain !important;
}

.tablet{
    padding: 60px 80px;
    border-radius: 55px;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,.14);
    position: relative;
    background: #fff;
    margin: 0 auto;
    max-width: 65%;
}

.tablet img{
    width: 100%;
    border: 1px solid #e5e5e8;
}

.tablet:after{
    right: 40px;
    -webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
    width: 24px;
    height: 24px;
    border: 3px solid #d2d2dc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    content: '';
}
.tablet:before{
    left: 40px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border: 5px solid #d2d2dc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    content: '';
}

.phone{
    padding: 66px 16px;
    border-radius: 44px;
    box-shadow: 0 5px 17px 0 rgba(0,0,0,.14);
    position: relative;
    background: white;
    width: 300px;
    margin: auto;
}

.phone::after {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 39px;
    height: 39px;
    border: 2px solid #d2d2dc;
    border-radius: 50%;
}

.phone__top {
    position: absolute;
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
    width: 44px;
    height: 4px;
    background: #d8d7d5;
    border-radius: 6px;
}

.phone__top::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -18px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 3px solid #d2d2dc;
    border-radius: 50%;
}

.phone__top::after {
    content: '';
    position: absolute;
    left: -22px;
    top: -2px;
    border: 4px solid #d2d2dc;
    border-radius: 50%;
}

.product-body{
    line-height: 1.8;
}

.product-body .bold,
.product-body ul{
    font-size: 20px;
}

.product-body .description{
    margin-left: 40px;
}

.product-body .reverse .description{
    margin-left: 200px;
}

.product-body .col-center{
    min-height: 468px;
}

ul{
    line-height: 1.8;
    margin-top: 15px;
    margin-bottom: 0;
	padding-left: 20px;
}

#help .col-center{
    height: 669px;
}

@media screen and (max-width: 800px){
    .row{
        flex-direction: column;
    }

    .side{
        width: 100%;
    }

    body{
        text-align: center;
    }

    .description{
        padding: 0 15px;
        margin-left: 0;
    }

    .side img{
        max-width: 320px;
        max-height: 320px;
        min-width: 0;
    }

    .col-center{
        height: auto;
    }

    body .side:first-of-type{
        padding: 0;
    }

    #product{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 20px;
    }

    .product_img{
        width: 320px;
    }

    .product_item{
        margin: 0;
        margin-top: 20px;
        width: 320px;
    }

    .product_title{
        margin-top: 20px;
    }

    .description span{
        display: block;
        margin-top: 50px;
    }

    .header-title{
        font-size: 42px;
    }

    ul{
        text-align: left;
    }

    .product-body .bold{
        text-align: left;
    }

    .tablet{
        padding: 30px 40px;
        border-radius: 33px;
        max-width: 200px;
        margin: 0 auto;
    }

    .tablet:before{
        left: 20px;
    }

    .tablet:after{
        right: 20px;
        width: 20px;
        height: 20px;
    }

    .img-slider{
        max-height: 700px;
    }

    .phone{
        height: 320px;
        width: 220px;
    }

    .phone img{
        width: 100%;
        margin-left: 20px;
    }

    .reverse{
        display: flex;
        flex-direction: column-reverse;
    }

    .product-body .reverse .description{
        margin-left: 40px;
    }

    .product-body .description{
        margin-left: 0;
    }

    .product-body .col-center{
        max-height: 468px;
        min-height: 100px;
    }

    .img-slider{
        margin-top: 20px;
    }
}